<launch>
    
    <node pkg="tf" 
        type="static_transform_publisher" 		   
        name="odom_frame_broadcaster" 
        args="0 0 0 0 0 0 /map /odom 100"
    />

    <node pkg="tf" 
        type="static_transform_publisher" 		   
        name="baselink_frame_broadcaster" 
        args="0 0 0 0 0 0 /odom /base_link 100"
    />

    <node pkg="tf" 
        type="static_transform_publisher" 		   
        name="laser_frame_broadcaster" 
        args="0 0 0 0 0 0 /base_link /laser 100"
    />
       
    
 </launch>
